@import url(/src/global/styles/ResetStyle.css);

.form-base {
  display: flex;
  margin: 65px 35px 70px 0px;
  height: fit-content;
}

.form-row {
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.input_text {
  display: inline-block;
  width: 460px;
  border-bottom: 1px solid #777;
  padding-bottom: 13px;
  color: white;
  font-family: Roboto;
  display: inline-block;
  margin-bottom: 35px;
}

.input_text::placeholder {
  color: #FFF;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 300;
  opacity: 1;
}

.check {
  padding-left: 20px;
  color: #FFF;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 300;
}

.input_checkbox {
  position: absolute;
  display: none;
}

.check_box {
  position: absolute;
  margin-left: -20px;
  width: 14px;
  height: 14px;
  border: 1px solid #777;
}

.input_checkbox:checked+.check_box {
  background-image: url(/src/assets/svg/Check_checkbox.svg);
}

.form {
  width: fit-content;
  display: flex;
  flex-direction: column;
}


.input_error {
  display: inline-block;
  color: white;
  position: relative;
  bottom: 25px;
  color: yellow;
}

@media (max-width: 1366px) {
  .form {
    margin: 65px 32px 70px 0px;
  }
}

@media (max-width: 1024px) {
  .form {
    margin: 65px 18px 70px 0px;
  }
}

@media (max-width: 496px) {
  .input_text {
    width: 380px;
  }
}

@media (max-width: 440px) {
  .input_text {
    width: 296px;
  }

  .input_text::placeholder {
    font-size: 16px;
  }

  .form {
    margin: 70px 0px 0px 0px;
  }
}