input[type=file] {
  display: none;
}

.drop-area {
  width: 460px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px dashed #777;
  cursor: pointer;
  color: #FFF;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 300;
  margin-bottom: 35px;
}

.drop-area_h5 {
  color: #FFF;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 300;
  text-decoration-line: underline;
  display: inline-block;
  margin-bottom: 7px;
}

.drop-area_p {
  color: #FFF;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 300;
}

.not-empty-file {
  color: #FFF;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 300;
  overflow: hidden;
  word-break: break-all;
}

@media (max-width: 496px) {
  .drop-area {
    width: 380px;
  }
}

@media (max-width: 440px) {
  .drop-area {
    width: 296px;
  }

  .drop-area_h5 {
    font-size: 16px;
  }

  .not-empty-file {
    font-size: 16px;
  }
}